body {
  font-family: 'Kanit', sans-serif;

  background-color: #fff;
  background-attachment: fixed;
  background-size: cover;
  /* background-position: center | right 30px bottom 15px; */
  /* background-repeat: no-repeat | repeat | repeat-x; */
  /* background-origin: border-box | padding-box | content-box; */
  /* background-clip: border-box | padding-box | content-box; */
  /* background-blend-mode: multiply | screen | overlay; */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.floating-ball {
  @apply absolute bg-blue-500 rounded-full;
  width: 50px; /* ปรับขนาดตามต้องการ */
  height: 50px; /* ปรับขนาดตามต้องการ */
  animation: float 5s ease-in-out infinite;
}

/* styles.css */
.scrollable {
  overflow-x: auto;
  white-space: nowrap; /* Prevent wrapping of items */
}

/* Custom scrollbar styles */
.scrollable::-webkit-scrollbar {
  height: 4px; /* Height of horizontal scrollbar */
}

.scrollable::-webkit-scrollbar-thumb {
  background: #a633e8; /* Scrollbar color */
  border-radius: 10px; /* Rounded edges */
}

.scrollable::-webkit-scrollbar-track {
  background: #f0f0f0; /* Track color */
}
/* สำหรับแถบเลื่อน */
.scrollbar-thin::-webkit-scrollbar {
  height: 4px; /* ความสูงของแถบเลื่อน */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #a633e8; /* สีของแถบเลื่อน */
  border-radius: 10px; /* ให้มุมแบน */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #e0e0e0; /* สีของแทร็ก */
}
@layer utilities {
  .bg-gradient-custom {
    background: linear-gradient(to left, #ffff 60%, transparent);
  }
  .bg-gradient-custom2 {
    background: linear-gradient(to right, #ffff 60%, transparent);
  }
}
/* เพิ่มใน CSS */
.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
