body {
  font-family: 'Kanit', sans-serif;

  background-color: #fff;
  background-attachment: fixed;
  background-size: cover;
  /* background-position: center | right 30px bottom 15px; */
  /* background-repeat: no-repeat | repeat | repeat-x; */
  /* background-origin: border-box | padding-box | content-box; */
  /* background-clip: border-box | padding-box | content-box; */
  /* background-blend-mode: multiply | screen | overlay; */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.floating-ball {
  @apply absolute bg-blue-500 rounded-full;
  width: 50px; /* ปรับขนาดตามต้องการ */
  height: 50px; /* ปรับขนาดตามต้องการ */
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px); /* ระยะลอยขึ้น */
  }
  100% {
    transform: translateY(0);
  }
}
